<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
  <script src="/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div class="header">
    <div class="title">
      Ocarina of Time Championship Series
    </div>
  </div>
  <div class="container">
    <div class="challenge">
      <div class="title">
        Challenge 1
      </div>
      <div class="text">
        Collect 60 unique Gold Skulltula tokens
      </div>
    </div>
    <div class="input">
      <input placeholder="Enter username">
      <button>Go!</button>
    </div>
  </div>
</body>
</html>
