<html>
<head>
  <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <script src="/js/reset.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="/css/leaderboard.css"> -->
</head>
<body>
<button>RESET</button>
</body>
</html>
