body, html {
  background: #222;
  margin: 0;
  font-family: Roboto, Arial;
}

.list {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  height: calc(100% - 120px);
}

.container {
  height: 100%;
}

.check {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  text-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.unchecked .check {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 0.6;
}

.header {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0 30px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.header div{
  padding-right: 20px;
}

input {
  display: none;
}

label {
  background: #051;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

label.unchecked {
  background: inherit;
}

label:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.score {
  display: flex;
  flex: 1;
  color: white;
  font-size: 48px;
}
.score div {
  padding-left: 20px;
}

.name {
  color: white;
  font-size: 24px;
}
