body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  background: #111111;
  color: white;
}
input {
  font-size: inherit;
  background: inherit;
  color: inherit;
  outline: none;
  border: 1px solid white;
  padding: 0 5px;
}
button {
  font-size: inherit;
}
