@import 'enemyChecklist';
@import 'keyCounter';
@import 'itemChecklist';

@font-face {
  font-family: FOT-Chiaro Std;
  src: url("/fonts/FOT-ChiaroStd-B_0.otf") format("opentype");
}

body {
  font-family: FOT-Chiaro Std;
  margin: 0;
  background: #303030;
}
